body {
    background: #F5F5F5;
    font: 18px/1.5 sans-serif;
}

h1, h2 {
    line-height: 1.2;
    margin: 0 0 .5em;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 21px;
    margin-bottom: 1em;
}

p {
    margin: 0 0 1em 0;
}

a {
    color: #0000F0;
}

a:hover {
    text-decoration: none;
}

code {
    background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word;
}

#wrapper {
    margin: 1em auto; min-width: 800px; width: 95%;
}

#container {
    padding: 2em;
}

#welcome, #status {
    margin-bottom: 2em;
}

#welcome h1 span {
    display: block; font-size: 75%;
}

#icon-status, #icon-book {
    float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px;
}

#icon-book {
    display: none;
}

#container{
    float:left;
    width: 100%;
    height: 100%;
}

#catalog {
    display: inline-block;
    float: left;
    height: 100%;
    width: 50%;
}

#dir{
    display: inline-block;
    float: left;
    height: 100%;
    width: 50%;
}

.footer{
    display: inline-block;
    float: left;
    height: 100%;
    width: 100%;
    border: 3px solid black;
}

li span:hover {
    color: #ffe;
    background-color: #5488af;
}

#titleLeft{
    display: inline-block;
    float: left;
    height: 100%;
    width: 50%;
}

#titleRight{
    display: inline-block;
    float: left;
    height: 100%;
    width: 50%;
}

ul.ul-treefree { padding-left:25px; }
ul.ul-treefree ul { margin:0; padding-left:6px; }
ul.ul-treefree li { position:relative; list-style:none outside none; border-left:solid 1px #999; margin:0; padding:0 0 0 19px; line-height:23px; }
ul.ul-treefree li:before { content:''; display:block; border-bottom:solid 1px #999; position:absolute; width:18px; height:11px; left:0; top:0; }
ul.ul-treefree li:last-child { border-left:0 none; }
ul.ul-treefree li:last-child:before { border-left:solid 1px #999; }

@media (min-width: 768px) {
    #wrapper { width: 80%; margin: 2em auto; }
    #icon-book { display: inline-block; }
    #status a, #next a { display: block; }

    @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
    @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
    .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
}
